In [2]:
import cricpy

In [3]:
import cricpy.analytics as ca

## Checking all available functions

In [9]:
dir(ca)

['ARIMA',
 'Axes3D',
 'KMeans',
 'LinearRegression',
 'PolynomialFeatures',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'batsman4s',
 'batsman4s6s',
 'batsman6s',
 'batsmanAvgRunsGround',
 'batsmanAvgRunsOpposition',
 'batsmanContributionWonLost',
 'batsmanCumulativeAverageRuns',
 'batsmanCumulativeStrikeRate',
 'batsmanDismissals',
 'batsmanMeanStrikeRate',
 'batsmanMovingAverage',
 'batsmanPerfBoxHist',
 'batsmanPerfForecast',
 'batsmanPerfHomeAway',
 'batsmanRunsFreqPerf',
 'batsmanRunsLikelihood',
 'batsmanRunsPredict',
 'batsmanRunsRanges',
 'batsmanScoringRateODTT',
 'battingPerf3d',
 'bowlerAvgWktsGround',
 'bowlerAvgWktsOpposition',
 'bowlerContributionWonLost',
 'bowlerCumulativeAvgEconRate',
 'bowlerCumulativeAvgWickets',
 'bowlerEconRate',
 'bowlerMovingAverage',
 'bowlerPerfForecast',
 'bowlerPerfHomeAway',
 'bowlerWktsFreqPercent',
 'bowlerWktsRunsPlot',
 'clean',
 'cleanBowlerData',
 'getPlayerData',
 'getPlayerDataOD',
 'getPlayerDataSp',
 'getPlayerDataSpOD',
 'getPlayerDataTT',
 'movingaverage',
 'np',
 'os',
 'pd',
 'plt',
 'rcParams',
 'relativeBatsmanCumulativeAvgRuns',
 'relativeBatsmanCumulativeStrikeRate',
 'relativeBowlerCumulativeAvgEconRate',
 'relativeBowlerCumulativeAvgWickets',
 'relativeBowlingER',
 'seasonal_decompose',
 'sns']

#### Download specific player data for batsmen
- Virat Kohli 253802
- Sachin Tendulkar (http://stats.espncricinfo.com/ci/engine/player/35320.html?class=1;type=allround): 35320
- Shikar Dhawan 28235
- Rohit Sharma 34102
- Kane Williamson 277906
- Steven Smith 267192
- Joe Root 303669

In [11]:
kohli = ca.getPlayerData(253802)

In [12]:
kohli.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,4,13,10,1,0,40.00,5,caught,1,v West Indies,Kingston,20 Jun 2011
1,15,72,54,2,0,27.77,5,caught,3,v West Indies,Kingston,20 Jun 2011
2,0,1,2,0,0,0.00,5,caught,1,v West Indies,Bridgetown,28 Jun 2011
3,27,118,107,1,1,25.23,5,caught,3,v West Indies,Bridgetown,28 Jun 2011
4,30,62,53,2,0,56.60,5,caught,2,v West Indies,Roseau,6 Jul 2011

In [13]:
kohli.tail()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
131,123,373,257,13,1,47.85,4,caught,2,v Australia,Perth,14 Dec 2018
132,17,64,40,2,0,42.50,4,caught,4,v Australia,Perth,14 Dec 2018
133,82,305,204,9,0,40.19,4,caught,1,v Australia,Melbourne,26 Dec 2018
134,0,6,4,0,0,0.00,4,caught,3,v Australia,Melbourne,26 Dec 2018
135,23,-,59,4,0,38.98,4,caught,1,v Australia,Sydney,3 Jan 2019

In [14]:
kohli_odi = ca.getPlayerDataOD(253802)

In [16]:
kohli_odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 12 columns):
Runs          227 non-null object
Mins          227 non-null object
BF            227 non-null object
4s            227 non-null object
6s            227 non-null object
SR            227 non-null object
Pos           227 non-null object
Dismissal     227 non-null object
Inns          227 non-null object
Opposition    227 non-null object
Ground        227 non-null object
Start Date    227 non-null object
dtypes: object(12)
memory usage: 21.4+ KB